* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  background: #8d4ea3;
  background: linear-gradient(0deg, rgb(124, 27, 216) 19%, rgb(94, 4, 94) 100%);
  padding: 1rem;
  margin: 10px;
}
.header h1 {
  font-size: 40px;
  text-align: center;
  color: rgb(208, 196, 219);
  font-style: arial;
}
.header nav div .contLogo .logo {
  width: 100px;
  border-radius: 50%;
}
.header nav ul {
  padding: 1rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(221, 204, 238);
  font-family: Arial, Helvetica, sans-serif;
}

header {
  background: #8d4ea3;
  background: linear-gradient(0deg, rgb(124, 27, 216) 19%, rgb(94, 4, 94) 100%);
  padding: 1rem;
  margin: 10px;
}

h1 {
  font-size: 40px;
  text-align: center;
  color: rgb(208, 196, 219);
  font-style: arial;
}

.logo {
  width: 100px;
  border-radius: 50%;
}

ul {
  padding: 1rem;
}

.parrafo1 {
  padding: 1rem;
  line-height: 1.5;
  font-style: arial;
  margin: auto;
}

.parrafo3 {
  padding: 1rem;
  font-size: 20px;
  font-style: arial;
  margin: 1rem;
  text-align: left;
}

.sectionImg {
  text-align: center;
}

.sectionProd {
  text-align: center;
  padding: 10px;
}

.img1 {
  border-radius: 1rem;
  width: 300px;
}

footer {
  text-align: center;
  background: rgb(153, 69, 153);
  padding: 10px;
}

h2 {
  padding: 10px;
  font-size: 50px;
  color: rgb(64, 68, 116);
  text-align: center;
  font-style: arial;
}

h3 {
  display: flex;
  padding: 20px;
  color: rgb(90, 18, 158);
  text-align: left;
}

.sectionAct {
  display: inline-block;
}

h4 {
  text-align: center;
  padding: 10px;
}

a {
  text-align: center;
  padding: 10px;
  font-size: 20px;
  color: rgb(66, 10, 104);
  text-decoration: none;
}

.tamanoLetra {
  font-size: 40px;
}

.lW {
  text-align: center;
  width: 50px;
  margin: 5px;
}

.lI {
  text-align: center;
  width: 50px;
  margin: 5px;
}

.lF {
  text-align: center;
  width: 70px;
  margin: 5px;
}

.img2 {
  width: 380px;
  border-radius: 1rem;
}

.img3 {
  width: 200px;
  display: inline-block;
  padding: 10px;
}

.contMedio {
  padding: 5px;
  text-align: left;
  margin: 10px;
}

.contact {
  padding: 10px;
  font-size: 50px;
  color: rgb(64, 68, 116);
  text-align: center;
  font-style: arial;
}

.formulario {
  display: flex;
  padding: 1rem;
  flex-direction: row;
  text-align: left;
  border: blueviolet solid 3px;
  margin: 1rem;
  width: 400px;
}

.miColor {
  background-color: blueviolet;
  color: rgb(209, 188, 230);
  margin: 1rem;
}

.miColor:hover {
  background-color: #8d4ea3;
  color: rgb(30, 11, 48);
}

.ubicacion {
  padding: 1rem;
  margin: 1rem;
}

.map {
  position: relative;
  text-align: right;
  width: 85%;
  height: 300px;
  margin: 0 auto;
}

.direccion {
  text-align: right;
}

@media (max-width: 480px) {
  h1 {
    font-size: 1.5rem;
  }
  h2 {
    font-size: 1.3rem;
  }
  .formulario {
    align-items: center;
    width: 300px;
    justify-content: center;
  }
  .ubicacion {
    width: 100%;
    height: 100%;
  }
  .contact {
    text-align: center;
    font-size: 40px;
  }
}

/*# sourceMappingURL=estilo.css.map */
