* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #ebd9dd;
  font-family: Arial, Helvetica, sans-serif;
}
body .header {
  background: #86479c;
  background-image: linear-gradient(to top, #7028e4 0%, #e5b2ca 100%);
  padding: 1rem;
  margin: 10px;
}
body .header h1 {
  font-size: 40px;
  text-align: center;
  color: #ebd9dd;
  font-style: Arial, Helvetica, sans-serif;
  animation-duration: 5s;
  animation-name: titulo;
  animation-iteration-count: infinite;
}
@keyframes titulo {
  0% {
    opacity: 0.2;
    color: #d3b1b8;
  }
  50% {
    opacity: 1;
    color: #ebd9dd;
  }
  100% {
    opacity: 0.3;
    color: #d3b1b8;
  }
}
body .header nav div .contLogo .logo {
  width: 100px;
  border-radius: 50%;
}
body .header nav div a {
  text-align: center;
  padding: 10px;
  margin: 1rem;
  font-size: 20px;
  color: rgb(68, 10, 107);
  text-decoration: none;
}
body .header nav div a:hover {
  transform: scale(1.1, 1.1);
  transition: all 1.4s ease;
  color: rgb(52, 10, 80);
}
body .header nav div a:hover .contMenu {
  padding: 1rem;
  justify-content: end;
}
body .header nav div .tamanoLetra {
  font-size: 40px;
}

@media screen and (max-widht: 480px) {
  nav div .contLogo .logo {
    width: 50px;
    margin: auto;
  }
}
main section .parrafo1 {
  padding: 2rem;
  line-height: 1.5;
  font-style: Arial, Helvetica, sans-serif;
  margin: 2rem;
}
main div .sectionImg {
  text-align: center;
}
main div .img1 {
  display: flex;
  text-align: center;
  margin: auto;
  border-radius: 1rem;
  width: 300px;
}
main section {
  text-align: center;
}
main section .calma {
  margin: 1rem;
  padding: 2rem;
}
main section .calma .card {
  border: #9182c4 solid 2px;
}
main section .calma .card .card-img-overlay .card-text {
  padding: 7rem;
  font-size: 30px;
}
@media screen and (max-width: 420px) {
  main section .calma {
    margin: 0;
    padding: 0%;
    width: 97%;
    text-align: center;
  }
  main section .calma .card .card-img-overlay .card-text {
    margin: 1px;
    padding: 0%;
    font-size: 15px;
  }
}
@media screen and (max-width: 1024px) {
  main section .calma {
    margin: 0;
    padding: 0%;
    width: 97%;
    text-align: center;
  }
  main section .calma .card .card-img-overlay .card-text {
    margin: 1px;
    padding: 0%;
    font-size: 15px;
  }
}
main section .preguntas {
  margin: 2rem;
  font-size: 25px;
}
main section .preguntas:hover {
  transform: translate(10px, 10px);
}
main section .respuestas {
  margin: 2rem;
}
main div .imgF1 {
  border-radius: 1rem;
  width: 20%;
}
@media screen and (max-width: 420px) {
  main div .imgF1 {
    width: 40%;
  }
}

footer div a {
  color: transparent;
}
footer div a .lI {
  margin: 1rem;
  text-align: center;
  width: 50px;
  border-radius: 1rem;
}
footer div a .lI:hover {
  transform: scale(1.1, 1.1);
  transition: all 1.2s ease;
}
footer div .lF {
  margin: 1rem;
  text-align: center;
  width: 50px;
  border-radius: 1rem;
}
footer div .lF:hover {
  transform: scale(1.1, 1.1);
  transition: all 1.2s ease;
}

div .direccionF {
  text-align: center;
  font-size: small;
}

.my-4 {
  color: transparent;
}

div {
  text-align: center;
  font-size: small;
}

main section h2 {
  padding: 3rem;
  font-size: 40px;
  text-align: center;
  color: rgb(100, 42, 114);
  font-size: Arial, Helvetica, sans-serif;
}
main div .img2 {
  display: flex;
  text-align: center;
  margin: auto;
  border-radius: 1rem;
  width: 380px;
}
main section .parrafo1 {
  padding: 2rem;
  line-height: 1.5;
  font-style: Arial, Helvetica, sans-serif;
  margin: 2rem;
}
main section .frasesNosotros {
  font-size: 40px;
  padding: 2rem;
  color: rgb(50, 13, 85);
}
main .frasesMagicas {
  padding: 1.5rem;
}
main .cardF {
  border: #486989 solid 2px;
  width: 16rem;
  padding: 1.5px;
}
main .afirmaciones {
  font-size: 25px;
  padding: 2rem;
  margin: 2rem;
  color: #486989;
}
@media screen and (max-width: 420px) {
  main section .calma {
    margin: 1rem;
    padding: 0%;
  }
  main section .calma .card .card-img-overlay .card-text {
    margin: 1px;
    padding: 0%;
    font-size: 15px;
  }
}
main .afirmaciones {
  padding: auto;
}

main div h2 {
  padding: 3rem;
  font-size: 40px;
  text-align: center;
  color: rgb(100, 42, 114);
  font-size: Arial, Helvetica, sans-serif;
}
main section div .tituloSecundario {
  font-size: 25px;
  font-style: Arial, Helvetica, sans-serif;
  color: rgb(46, 16, 73);
  text-align: center;
  margin: 0 auto;
  width: 70%;
  padding: 3rem;
}
main section .map {
  display: flex;
  justify-content: center;
  text-align: center;
  width: 85%;
  height: 300px;
  margin: auto;
}
main section .ubicacion {
  text-align: center;
  padding: auto;
  margin: 1.5rem;
}
main section div div .parrafo3 {
  padding: 1rem;
  font-size: 20px;
  font-style: Arial, Helvetica, sans-serif;
  margin: 1rem;
  text-align: left;
}
main section div .formu {
  border: rgb(131, 58, 150) solid 3px;
  width: 450px;
  height: 410px;
}
main section div .formu div .form-label, main section div .formu div .form-control {
  display: flex;
  padding: auto;
  flex-direction: row;
  text-align: left;
  margin: 1rem;
  width: 400px;
}
main section div .formu div .form-text {
  display: flex;
  text-align: right;
  margin: 20px;
}
main section div .formu div .form-label2 {
  display: flex;
  padding: auto;
  flex-direction: row;
  text-align: left;
  margin: 1rem;
  width: 400px;
}
main section div .formu div .coment {
  display: flex;
  text-align: left;
  margin: 1rem;
  padding: auto;
}
main section div .formu div textarea {
  display: flex;
  position: absolute;
  text-align: center;
  overflow: hidden;
}
main section div .formu div label {
  color: black;
  margin: 1rem;
  font-size: 15px;
}
main section div .formu .miColor {
  display: flex;
  border: 2px blueviolet;
  color: rgb(209, 188, 230);
  background-color: rgb(131, 58, 150);
  border-radius: 2.5px;
  margin: 7.5rem;
  margin-left: 1.5rem;
  padding: 4px;
  text-align: left;
}
main section div .formu .miColor:hover {
  background-color: #8d4ea3;
  color: rgb(30, 11, 48);
}
main section div .parrafo3 {
  padding: 1rem;
  font-size: 20px;
  font-style: Arial, Helvetica, sans-serif;
  margin: 1rem;
  text-align: center;
}

@media screen and (max-widht: 480px) {
  div .formu {
    display: flex;
    flex-direction: initial;
    justify-content: left;
    width: 350px;
    height: 300px;
  }
  .contact {
    text-align: center;
    font-size: 40px;
  }
}
main section div .h2 {
  padding: 3rem;
  font-size: 40px;
  text-align: center;
  color: rgb(100, 42, 114);
  font-size: Arial, Helvetica, sans-serif;
}
main div ul {
  list-style-type: none;
}
main div ul li {
  font-size: 20px;
}
main section .parrafoActiv {
  font-size: 20px;
}
main section .contCardAct {
  display: inline-flex;
  margin: 2rem;
  background-color: rgb(233, 220, 233);
  padding: 1rem;
  border: rgb(86, 13, 155) solid 3px;
}
main section .contCardAct .card-body .card-title {
  text-align: center;
  color: rgb(100, 42, 114);
}
main section .contCardAct .card-body .card-subtitle {
  font-size: 15px;
}

section .titTerc {
  font-size: 40px;
  padding: 2rem;
  color: rgb(50, 13, 85);
}
section .alin {
  width: 40%;
  border-radius: 1rem;
}

section .promos {
  font-size: 30px;
  padding: 2rem;
  color: rgb(50, 13, 85);
  text-decoration: underline;
}

.promo {
  padding-left: 2rem;
}

.listaPromo {
  padding-left: 2rem;
  text-align: center;
}

main section .h2 {
  padding: 3rem;
  font-size: 40px;
  text-align: center;
  color: rgb(100, 42, 114);
  font-size: Arial, Helvetica, sans-serif;
}
main section .parrafoProd {
  font-size: 25px;
  margin: 3rem;
  text-align: center;
}
main .contFotos {
  padding: 2rem;
}
main .card {
  border: #9182c4 solid 2px;
}
main .card .card-body .card-title {
  text-align: left;
  padding: 20px;
  color: rgb(90, 18, 158);
  font-size: 20px;
}
main section h4 {
  font-size: 25px;
  padding: 2rem;
  margin: 2rem;
  color: #486989;
}
main .imgVibras {
  width: 15rem;
  border: #9182c4 solid 1px;
  border-radius: 1rem;
}
main section .visitanos {
  text-align: center;
  margin: 2rem;
}

/*# sourceMappingURL=estilo.css.map */
