* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    background-color: rgb(221, 204, 238);
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background: #8d4ea3;
    background: linear-gradient(0deg, rgb(124, 27, 216)19%, rgba(94, 4, 94, 1)100%);
    padding: 1rem;
    margin: 10px;

}

h1 {
    font-size: 2.5rem;
    text-align: center;
    color: rgb(208, 196, 219);
    font-style: arial;
}

.logo {
    width: 100px;
    border-radius: 50%;
}

ul {
    padding: 1rem;
}

.parrafo1 {
    padding: 1rem;
    line-height: 1.5;
    font-style: arial;
    margin: auto;
}

.sectionImg {
    text-align: center;

}

.sectionProd {
    text-align: center;
    padding: 10px;


}

.img1 {
    border-radius: 1rem;
    width: 300px;
}

footer {

    text-align: center;
    background: rgb(153, 69, 153);
    padding: 10px;
}

h2 {
    padding: 10px;
    font-size: 3rem;
    color: rgb(64, 68, 116);
    text-align: center;
    font-style: arial;

}

h3 {
    padding: 20px;
    color: rgb(90, 18, 158);
    
    text-align: left;

}

.sectionAct {
    display: inline-block;
}

h4 {
    text-align: center;
    padding: 10px;
}

a {
    text-align: center;
    padding: 10px;
    font-size: 3rem;
    color: rgb(66, 10, 104);
    text-decoration: none;

}

.tamanoLetra {
    font-size: 2rem;
}

.lW {
    text-align: center;
    width: 50px;
    margin: 5px;
}

.lI {
    text-align: center;
    width: 50px;
    margin: 5px;
}

.lF {
    text-align: center;
    width: 70px;
    margin: 5px;
}

.img2 {
    width: 380px;
    border-radius: 1rem;

}

.img3 {
    width: 200px;
    display: inline-block;
    padding: 10px;
}



.contMedio {
    padding: 5px;
    text-align: left;
    margin: 10px;
}
.formulario {
    width: 500px;
    margin: 10px;
    border: rgb(85, 14, 151) 3px;
    padding: 2rem;
}
@media (max-widht:400px){
    
    .contact{
        text-align: center;
    }
    .ubicacion{
        text-align: center;
    }
    .formulario{
        background-color: red;
        
    }
    
}

.miColor {
    background-color: blueviolet;
    color: rgb(209, 188, 230);
    margin: 1rem;
}
.miColor:hover{
    background-color: #8d4ea3;
    color: rgb(30, 11, 48);
}
.ubicacion{
    padding: 1rem;
    margin: 2rem;
}