footer {
    
        div{
            
            .lI {
                margin: 1rem;
                text-align: center;
                width: 50px;
                border-radius: 1rem;
            }
    
            .lI:hover {
                transform: scale(1.1, 1.1);
                transition: all 1.2s ease;
            }   
        
        
            .lF {
                margin: 1rem;
                text-align: center;
                width: 50px;
                border-radius: 1rem;
            }
    
            .lF:hover {
                transform: scale(1.1, 1.1);
                transition: all 1.2s ease;
            }
        }
        }
    
        .my-4{color:transparent;}
        div{
            text-align: center;
            font-size: small;
    
    }