footer {

    div {
        a {
            color: transparent;

            .lI {
                @include logosFooter
            }

            .lI:hover {
                @include HoverLogoFooter
            }
        }

        .lF {
            @include logosFooter
        }

        .lF:hover {
            @include HoverLogoFooter
        }
    }
}
div{

    .direccionF{
        text-align: center;
        font-size: small;
    }
}
.my-4 {
    color: transparent;
}

div {
    text-align: center;
    font-size: small;
}
