main {
    section {
        h2 {
            @include titulosPrincip
        }
    }

    div {
        .img2 {
            display: flex;
            text-align: center;

            width: 380px;
            border-radius: 1rem;
            margin: auto;
        }
    }

    section {
        .parrafo1 {
           @include textosCentrales

        }
    }
}