main {
    section {
        div {
            .h2 {
                @include titulosPrincip
            }
        }
    }

    div {
        ul {
            list-style-type: none;

            li {

                font-size: 20px;
            }
        }
    }

    section {
        .parrafoActiv {
            font-size: 20px;
        }
    }

    section {
        .contCardAct {
            display: inline-flex;
            margin: 2rem;
            background-color: rgb(233, 220, 233);
            padding: 1rem;
            border: rgb(86, 13, 155) solid 3px;

            .card-body {
                .card-title {
                    text-align: center;
                    color: $colorTitulos;
                }

                .card-subtitle {
                    font-size: 15px;
                }
            }
        }
    }
}

section {
    .titTerc {
        @include titulosSecundarios
    }

    .alin {
        width: 40%;
        border-radius: 1rem;
    }
}

section {
    .promos {
        font-size: 30px;
        padding: 2rem;       
        color: $colorTitSec;
        text-decoration: underline;        
    }
}

.promo {
    padding: 1,5rem;
    text-align: center;
}

.listaPromo {
    padding: 1rem;
    text-align: center;
}
