main {
    section {
        .parrafo1 {
            @include textosCentrales
        }
    }

    div {
        .sectionImg {
            text-align: center;

        }

        .img1 {
            @include imagenes(300px)
        }
    }
    section {
        text-align: center;        
        .calma {
            margin: 1rem;
            padding: 2rem;            
            .card {
                border: #9182c4 solid 2px;
                .card-img-overlay {
                    .card-text {
                        padding: 7rem;
                        font-size: 25px;
                    }
                }
            }
        }
    }

    @media screen and (max-width:480px) {
        section {
            .calma {
                margin: 0%;
                width: fit-content;
                .card {
                    .card-img-overlay {
                        .card-text {
                            padding: 0%;
                            font-size: 15px;
                        }
                    }
                }
            }
        }
    }
    @media screen and (max-width:768px) {
        section {
            .calma {
                margin: 0%;
                width: fit-content;
                .card {
                    .card-img-overlay {
                        .card-text {
                            padding: 0%;
                            font-size: 15px;
                        }
                    }
                }
            }
        }
    }


    section {
        .preguntas {
            margin: 2rem;
            font-size: 25px;            
        }
        .preguntas:hover{
            transform: translate(10px, 10px);
        }
        .respuestas {
            margin: 2rem;
        }        
    }
}