main {
    section {
        .h2 {
            @include titulosPrincip
        }
    }

    section {
        .parrafoProd {
            font-size: 25px;
            margin: 3rem;
            text-align: center;
        }
    }

    .contFotos {
        padding: 2rem;
    }
    .card{
        border: #9182c4 solid 2px;
    .card-body {
        
        .card-title {
            text-align: left;
            padding: 20px;
            color: rgb(90, 18, 158);
            font-size: 20px;
        }
    }
    }
    section{
        h4{
            font-size: 25px;
            padding: 2rem;
            margin: 2rem;
            color: #486989;
        }
    }
    section {
        .visitanos {
            text-align: center;
        }
    }

}