main {
    section {
        h2 {
            @include titulosPrincip
        }
    }

    div {
        .img2 {
            @include imagenes(380px)
        }
    }

    section {
        .parrafo1 {
            @include textosCentrales
        }
    }


    section {
        .frasesNosotros {
            @include titulosSecundarios
        }
    }

    .frasesMagicas {
        padding: 1.5rem;
    }

    .card {
        border: #486989 solid 2px;

    }
    @media screen and (max-width:420px) {
        section {
            .calma {
                margin: 1rem;
                padding: 0%;
                .card { 
                    .card-img-overlay {
                        .card-text {
                            margin: 1px;
                            padding: 0%;
                            font-size: 15px;
                        }
                    }
                }
            }
        }
    }   
}